.primary-background {
  background-color: #002b36 !important; /* base03 */
}

.highlight-background {
  background-color: #073642 !important; /* base02 */
}

.highlight-foreground-as-background {
  background-color: #93a1a1 !important; /* base1 */
}

.blue-background:not(:disabled) {
  background-color: #268bd2 !important; /* blue */
}

.blue-background-50 {
  background-color: rgba(38, 139, 210, 0.5) !important; /* blue */
}

.green-background-50 {
  background-color: rgba(133, 153, 0, 0.5) !important; /* green */
}

.orange-background-50 {
  background-color: rgba(203, 75, 22, 0.5) !important; /* orange */
}

.cyan-background:not(:disabled) {
  background-color: #2aa198 !important; /* cyan */
}

.green-background {
  background-color: #859900 !important; /* green */
}

.red-background {
  background-color: #dc322f !important; /* red */
}

.primary-foreground {
  color: #839496 !important; /* base0 */
}

.highlight-foreground {
  color: #93a1a1 !important; /* base1 */
}

.blue-foreground {
  color: #268bd2 !important; /* blue */
}

.green-foreground {
  color: #859900 !important; /* green */
}

.orange-foreground {
  color: #cb4b16 !important; /* orange */
}

.primary-background-as-foreground {
  color: #002b36 !important; /* base03 */
}

.on-colour-foreground {
  color: #fdf6e3 !important; /* base3 */
}

.highlight-foreground-border {
  border-color: #93a1a1 !important; /* base1 */
}

.primary-background-border {
  border-color: #002b36 !important; /* base3 */
}

.primary-foreground-as-border-10 {
  border-color: rgba(131, 148, 150, 0.1) !important; /* base0 */
}

button:disabled {
  background-color: #586e75; /* base01 */
}
